Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans-  A database is an organised collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS).

There are two primary types of databases:
1. SQL(relational databases)
2. NoSQL(non - relational databases)

SQL databases use a relational model where data is stored in rows and tables that are linked in various ways.On the other hand, NoSQL databases allow different structures than a SQL database and more flexibility to use a format that best fits the data.

SQL databases have a well-designed schemas, while NoSQL databases have a dynamic schema for unstructured data.

SQL databases are vertically scalable, meaning we can increase the load on a server by migrating to a larger server that adds more CPU , RAM OR SSD capability. On the other hand, NoSQL databases are horizontally scalable as they use mulitple nodes in a cluster to handle increased workloads.

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans - DML stands for Data Manipulation Language.It is used to manipulate data in a databases.DML commands includes SELECT,INSERT,UPDATE,AND DELETE.

INSERT - This is used to insert new rows into a table.

UPDATE - This is used to update existing rows in a table.

DELETE -This is used to delete rows from a table.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans- DDL stands for data definition language. It is a subset of SQL and is used to define data structures and modify data.DDL commands can be used to create, modify,and delete databases objects, such as tables, indexes and sequences.

CREATE - This command is used to create a database object, such as table or an index.

DROP - This is used to delete an exsting database object.

ALTER - This is used to modify the structure of an existing database object.

Truncate - This command is used to remove all records from a table, including all spaces allocated for a records.

In [6]:
import mysql.connector
mydb = mysql.connector.connect(host = "localhost", user = "abc", password = "password")
cursor = mydb.cursor()
cursor.execute("CREATE DATABASE if not EXISTS employee")

In [7]:
## USE OF CREATE COMMAND
cursor.execute("CREATE TABLE if not EXISTS employee.employee_details (ID INT PRIMARY KEY, first_name VARCHAR(50), last_name VARCHAR(50), phone INT)")

cursor.execute("ALTER TABLE employee.employee_details ADD COLUMN salary INT")
# Add a new column named salary to the employee_details table


cursor.execute("TRUNCATE TABLE employee.employee_details ")
## remove all data from the table

cursor.execute("DROP TABLE employee.employee_details")
## delete the employee_details table

In [8]:
cursor.execute("CREATE DATABASE if not EXISTS students")
cursor.execute("CREATE TABLE if not EXISTS students.student_details(ID INT , FIRST_NAME VARCHAR(50) , LAST_NAME VARCHAR(50) , EMAIL VARCHAR(50))")
cursor.execute("INSERT INTO students.student_details VALUES(101 ,'MUSKAN', 'GUPTA' , 'muskan@gmail.com')")

In [9]:
mydb.commit()
cursor.execute("SELECT * FROM students.student_details")
for i in cursor.fetchall():
    print(i)

(101, 'MUSKAN', 'GUPTA', 'muskan@gmail.com')

In [11]:
cursor.execute("UPDATE students.student_details SET ID = 100 WHERE ID = 101")
cursor.execute("SELECT * FROM students.student_details")
for i in cursor.fetchall():
    print(i)

(100, 'MUSKAN', 'GUPTA', 'muskan@gmail.com')

In [16]:
cursor.execute("DELETE FROM students.student_details WHERE ID = 100 ")

In [17]:
cursor.execute("SELECT * FROM students.student_details")
for i in cursor.fetchall():
    print(i)

Q4. What is DQL? Explain SELECT with an example.

Ans- DQL stands for Data Query Language. It is a subset of SQL and is used to query data from a database.The principal DQL command is a SELECT command which retrieves data from one or more tables.

In [19]:
## USE OF SELECT COMMAND 
## using previously created database

cursor.execute("INSERT INTO students.student_details VALUES(100,'MUSKAN','GUPTA','muskan@gmail.com')")
cursor.execute("INSERT INTO students.student_details VALUES(101,'ANMOL','GUPTA','anmol@gmail.com')")
mydb.commit()
cursor.execute("SELECT * FROM students.student_details")
for i in cursor.fetchall():
    print(i)

(100, 'MUSKAN', 'GUPTA', 'muskan@gmail.com')
(101, 'ANMOL', 'GUPTA', 'anmol@gmail.com')

Q5. Explain Primary Key and Foreign Key.

Ans-  PRIMARY KEY - A primary key is a column or a set of columns that uniquely identifies each row in a table. It is used to enforce the entity integrity of the table by ensuring that no two rows have the same primary key value. 

A table can have only one primary key and its columns must contain unique values and cannot be NULL.

FOREIGN KEY - A foreign key is a column or a set of columns in one table that refers to the primary key of another table.It is used to establish a relationship between the two tables and enforce referential integrity by ensuring that any value n the foreign key column must match a value in the primary key columns of the referenced table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

ANS - we first import the mysql.connector module, which provides the necessary functions and classes for connecting to a MySQL database. We then use the connect() function to establish a connection to the MySQL database by providing the necessary connection parameters, such as the host, user, password, and database name.

Once the connection is established, we create a cursor object using the cursor() method of the connection object. A cursor is used to execute SQL queries and retrieve results from the database.

We then use the execute() method of the cursor object to execute a SQL query. In this case, we are executing a SELECT query to retrieve all rows from a table named your_table.

code given in ques2

Q7. Give the order of execution of SQL clauses in an SQL query.

Ans- The order of execution of SQL clauses in an SQL query is as follows:

1. FROM clause
2. JOIN clause
3. ON clause
4. OUTER clause
5. WHERE clause
6. GROUP BY clause
7. HAVING clause
8. SELECT clause
9. DISTINCT clause
10. ORDER BY clause
11. TOP clause